*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: rgba(169, 169, 169, 0.411);
}

header, footer {
    background-color: black;
    color: aliceblue;
    padding: 16px;
    width: 100%;
}

header {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

.form-campo label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

input {
    width: 100%;
    display: block;
    padding: 2px;
    margin-bottom: 10px;
    border: 2px dashed rgba(0, 0, 0, 0.479) ;
}
input:focus {
    outline-color: rgb(0, 0, 0);
}

form {
    margin: 80px auto;
    max-width: 500px;
}
button {
    display: block;
    max-width: 150px;
    width: 100%;
    padding: 8px 0;
    border: none;
    border-radius: 10px;
    background-color: #1197588f;
    cursor: pointer;
    color: aliceblue;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    margin: 5px auto;
}

button:hover {
    background-color:  #119758;
    border: 1px solid black;
}